.body sl-split-panel {
  --divider-width: 2px;
}

.body sl-split-panel::part(divider) {
  width: 1px;
}

.body sl-split-panel::part(divider):focus-visible {
  background-color: var(--sl-color-primary-600);
}

.body sl-split-panel::part(divider):hover {
  background-color: var(--sl-color-primary-600);
}
