.body sl-split-panel {
  --divider-width: 2px;
}

.body sl-split-panel::part(divider) {
  width: 1px;
}

.body sl-split-panel::part(divider):focus-visible {
  background-color: var(--sl-color-primary-600);
}

.body sl-split-panel::part(divider):hover {
  background-color: var(--sl-color-primary-600);
}

.body sl-icon {
  font-size: 12px;
  position: absolute;
  border-radius: var(--sl-border-radius-small);
  background: var(--sl-color-neutral-400);
  color: var(--sl-color-neutral-0);
  margin: 0;
  padding: 6px 0;
}

.body sl-icon:hover {
  background: var(--sl-color-primary-600);
}

.body sl-split-panel:focus-within sl-icon {
  background-color: var(--sl-color-primary-600);
  color: var(--sl-color-neutral-0);
}
