.overview {
  border-color: var(--sl-color-gray-300);
  border-radius: 0.25rem;
  border-width: 1px;
  margin: 8px;
  padding: 10px;
}

.media_label,
.metadata_label {
  font-size: 0.8rem;
  color: var(--sl-color-gray-500);
}

.metadata {
  --min_num_chars: 3rem; /* Minimum number of characters for a metadata entry. */

  .metadata_key {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    margin-right: 0.5rem;
    min-width: var(--min_num_chars);
  }

  .metadata_value {
    min-width: var(--min_num_chars);
  }
}

.media_content_container {
  background-color: var(--sl-color-gray-100);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--sl-color-gray-900);
}

.media_content {
  --line-clamp: 5; /* Number of lines of text to be displayed */
  --line-height: 1.5; /* Line height of the text */
  display: -webkit-box;
  line-height: var(--line-height);
  -webkit-line-clamp: var(--line-clamp);
  height: calc(var(--line-height) * 1em * var(--line-clamp)); /* Enough to fit the lines of text */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
