# Python.
.mypy_cache/
.venv/
__pycache__/
.coverage
cloned_repos/
.pytest_cache/
py_coverage_html/
*.deps.txt

# Mac OS.
.DS_Store

# Node.
node_modules/
dist/

# Data to ignore.
data/datasets
data/local_cache
# Ignore pickled concept models but not the concept's training data.
data/concept/**/*.pkl
data/concept/*
!data/concept/lilac/

# Env
.env.local
/web/*/coverage

# Typescript.
tsconfig.tsbuildinfo
