# Python.
.mypy_cache/
.venv/
__pycache__/
.coverage
cloned_repos/
.pytest_cache/
py_coverage_html/
*.deps.txt
requirements.txt
# Cloned huggingface spaces repos for pushing demos.
hf_spaces/

# Mac OS.
.DS_Store

# Node.
node_modules/
dist/

# Data to ignore.
/data/
!/data/concept/lilac/

# Ignore pickled concept models.
/data/concept/**/*.pkl

# Env
.env.local
/web/*/coverage

# Typescript.
tsconfig.tsbuildinfo
