# Python.
.mypy_cache/
.venv/
__pycache__/
.coverage
cloned_repos/
.pytest_cache/
py_coverage_html/
*.deps.txt
requirements.txt

# Mac OS.
.DS_Store

# Node.
node_modules/
dist/

# Data to ignore.
/data
demo_data/

# Ignore pickled concept models.
data/concept/**/*.pkl

# Env
.env.local
.env.demo
/web/*/coverage

# Typescript.
tsconfig.tsbuildinfo

.tmp/
