.create_container {
  width: 36rem;
  margin: auto;
}

.create_row {
  border-bottom-width: 1px;
  padding: 16px 4px;
  width: 100%;
}

sl-spinner.create_step_loading,
sl-icon.create_step_complete {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  font-size: 20px;
}
sl-icon.create_step_complete {
  color: white;
  background: var(--sl-color-green-500);
}
