.container {
  width: 48rem;
  margin: auto;
  padding: 8px 24px;
}

.row {
  padding: 16px 4px;
  width: 100%;
  border-bottom-width: 1px;
}

.row:last-child {
  border-bottom-width: 0px;
}

sl-icon.load_data_success {
  color: white;
  background: var(--sl-color-green-500);
}
