.markdown_container p {
  margin: 8px 0;
}

.optional_details::part(header) {
  padding: var(--sl-spacing-x-small);
}

.optional_details::part(content) {
  padding: var(--sl-spacing-2x-small);
}

.optional_details::part(base) {
  border: 0;
}

.multi_form_field_name {
  font-size: var(--sl-input-help-text-font-size-medium);
  color: var(--sl-input-label-color);
  margin-top: var(--sl-spacing-3x-small);
}

.multi_form_help_text {
  font-size: var(--sl-input-help-text-font-size-medium);
  color: var(--sl-input-help-text-color);
  margin-top: var(--sl-spacing-3x-small);
}

.multi_form_input::part(suffix) {
  margin-inline-end: 0;
}

sl-details.optional_details::part(summary-icon) {
  /* Disable the expand/collapse animation */
  rotate: none;
}

.checkbox::part(label) {
  color: var(--sl-input-help-text-color);
  font-size: var(--sl-font-size-small);
}
